{% extends "base.html" %}
{% block content %}
<div id='calendar'></div>

<script src='https://unpkg.com/fullcalendar@5/main.min.js'></script>
<script src='https://unpkg.com/fullcalendar@5/locales-all.min.js'></script>
<link href='https://unpkg.com/fullcalendar@5/main.min.css' rel='stylesheet' />

<script>
document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridMonth',
        locale: 'ja'
        // カレンダーの設定...
    });
    calendar.render();
});
</script>
{% endblock %}
